[Unit]
Description=Flask App 1 Green
After=network.target

[Container]
ContainerName=flask-app-1-green
Image=flask-app-1:green
PodmanArgs=--tls-verify=false
PublishPort=5001:5000

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target