[Unit]
Description=Flask App 1 Blue
After=network.target

[Container]
ContainerName=flask-app-1-blue
Image=flask-app-1:blue
PodmanArgs=--tls-verify=false
PublishPort=5002:5000

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target