[Unit]
Description=Streamlit App 1 Green
After=network.target

[Container]
ContainerName=streamlit-app-1-green
Image=localhost:8082/streamlit-app-1
PodmanArgs=--tls-verify=false
PublishPort=8093:8501
Environment=MYENV=streamlit-app-1
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target