[Unit]
Description=Streamlit App 2 Blue
After=network.target

[Container]
ContainerName=streamlit-app-2-blue
Image=streamlit-app-2:blue
PodmanArgs=--tls-verify=false
PublishPort=8094:8501
Environment=MYENV=streamlit-app-2

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target