[Unit]
Description=Streamlit App 1 Blue
After=network.target

[Container]
ContainerName=streamlit-app-1-blue 
Image=streamlit-app-1:blue
PodmanArgs=--tls-verify=false
PublishPort=8092:8501
Environment=MYENV=streamlit-app-1

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target