[Unit]
Description=Streamlit App 2 Green
After=network.target

[Container]
ContainerName=streamlit-app-2-green
Image=streamlit-app-2:green
PodmanArgs=--tls-verify=false
PublishPort=8095:8501
Environment=MYENV=streamlit-app-2

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target